<div class="container">
  <h1 class="title">Image Converter</h1>
  <label class="info">Pick an image you want to convert and select the desired output format.</label>
  <input class="input" type="file" accept=".png, .jpg, .jpeg, .webp, .jfif, .gif, .tiff" (change)="onFileSelected($event)">
  <div class="output">
    <label class="info">Output format:</label>
    <img [src]="imagePreview" *ngIf="imagePreview">
    <select class="select" [(ngModel)]="outputFormat">
      <option value="png">PNG</option>
      <option value="jpg">JPG</option>
      <option value="jpeg">JPEG</option>
      <option value="webp">WEBP</option>
      <option value="gif">GIF</option>
    </select>
  </div>
  <button (click)="convert()">Convert</button>
</div>
