<div class="container">
  <h1 class="title">Image Converter</h1>
  <label class="info">Pick an image you want to convert and select the desired output format.</label>
  <label class="input-custom" for="file-upload">Upload file</label>
  <input class="input" id="file-upload" type="file" accept=".png, .jpg, .jpeg, .webp, .jfif, .gif, .tiff" (change)="onFileSelected($event)">
  @if (imagePreview) {
<img class="preview" [src]="imagePreview">
}
  <div class="output-container">
    <label class="info">Output format:</label>
    <div class="formats-container">
      <div class="format">
        <input class="radio" type="radio" name="format" value="png" [(ngModel)]="outputFormat">
        <div class="visible">
          <div class="visible-text">
            PNG
          </div>
        </div>
      </div>
      <div class="format">
        <input class="radio" type="radio" name="format" value="jpg" [(ngModel)]="outputFormat">
        <div class="visible">
          <div class="visible-text">
            JPG
          </div>
        </div>
      </div>
      <div class="format">
        <input class="radio" type="radio" name="format" value="jpeg" [(ngModel)]="outputFormat">
        <div class="visible">
          <div class="visible-text">
            JPEG
          </div>
        </div>
      </div>
      <div class="format">
        <input class="radio" type="radio" name="format" value="webp" [(ngModel)]="outputFormat">
        <div class="visible">
          <div class="visible-text">
            WEBP
          </div>
        </div>
      </div>
      <div class="format">
        <input class="radio" type="radio" name="format" value="gif" [(ngModel)]="outputFormat">
        <div class="visible">
          <div class="visible-text">
            GIF
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="submit" (click)="convert()" [disabled]="loading">Convert</button>
  @if (loading) {
    <span class="loading-text">Converting...</span>
  }
</div>
